<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <appSettings>
      <add key="ESConnection" value="http://localhost:9200"/>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IsirWsCuzkPortTypeBinding" maxReceivedMessageSize="20000000">
                    <security mode="Transport"/>
                </binding>
                <binding name="IsirWsCuzkPortTypeBinding1" maxReceivedMessageSize="20000000"/>
                <binding name="IsirWsPublicPortTypeBinding" maxReceivedMessageSize="20000000">
                    <security mode="Transport"/>
                </binding>
                <binding name="IsirWsPublicPortTypeBinding1" maxReceivedMessageSize="20000000"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://isir.justice.cz:8443/isir_cuzk_ws/IsirWsCuzkService" binding="basicHttpBinding" bindingConfiguration="IsirWsCuzkPortTypeBinding" contract="Isir.IsirWsCuzkPortType" name="IsirWsCuzkPortType"/>
            <endpoint address="https://isir.justice.cz:8443/isir_public_ws/IsirWsPublicService" binding="basicHttpBinding" bindingConfiguration="IsirWsPublicPortTypeBinding" contract="IsirWs.IsirWsPublicPortType" name="IsirWsPublicPortType"/>
        </client>
    </system.serviceModel>
</configuration>
